<h3>Tabela de Livros</h3>

<h4 *ngIf="listaLivros.length == 0">
    Nao ha Livros cadastrados!
</h4>
<table class = "table table-striped" *ngIf="listaLivros.length > 0">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>AUTOR</th>
            <th>EDITORA</th>
            <th>DISPONÍVEL</th>
            <th>LOCADOR</th>
            <th>RETIRADA</th>
            <th>DEVOLUÇÃO</th>
        </tr>
  </thead>
  <tbody>
      <tr *ngFor="let livro of listaLivros">
          <td>{{livro.id}}</td>
          <td>{{livro.nome}}</td>
          <td>{{livro.autor}}</td>
          <td>{{livro.editora}}</td>
          <td>{{livro.disponivel}}</td>
          <td>{{livro.locador}}</td>
          <td>{{livro.dataRetirada | date:'dd/MM/yyyy'}}</td>
          <td>{{livro.dataDevolucao | date:'dd/MM/yyyy'}}</td>
      </tr>
  </tbody>

</table>
