<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  {{botaoDinamicoAcao}}
</button>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Locação</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        nome cliente
        dt RETIRADA
        dt revolucao
        se tem multa

      </div>
      <div class="modal-footer" style="justify-content: space-around;">
        <button type="button" class="btn btn-outline-primary" routerLink="/emprestimoEscolhaLivro" data-bs-toggle="modal" >Retirar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"  (click)="selecionaIdClienteParaRealizarDevolucaoEFinalizaDevolucao()">Devolver</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">



