<h1 class="text-center mt-3">Biblioteca</h1>

<nav class="navbar navbar-expand-lg container-fluid" style="background-color:#2A9D8F;">
  <div class="container">
  <a class="navbar-brand" routerLink="/tabelaLivros" ><img src="assets/imagens/gemini_logo.png"
    width="40"
    height="auto" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 gap-4">
      <li class="nav-item">
        <a class="nav-link" routerLink="/tabelaLivros">Livros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tabelaClientes">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/novoLivro">Adicionar livros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/novoCliente">Cadastrar cliente</a>
      </li>

    </ul>
  </div>
</div>
</nav>

<div class="container">


  <router-outlet></router-outlet>



</div>
