<h3 class="mt-4">Tabela de Clientes</h3>

<h4 class="mt-5"  *ngIf="listaClientes.length == 0">
    Nao há Clientes cadastrados!
</h4>


<div >
  <label for="nome" class="form-label">Pesquisa por nome de cliente:</label>
  <input [(ngModel)]="nomePesquisado" class="form-control"
      id="nome" placeholder="Pesquisar">
</div>

<table class = "table table-striped table-bordered my-5" *ngIf="(listaClientes | filtroClienteNomePesquisa:nomePesquisado).length > 0">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>RETIRADOS</th>
            <th>MULTA</th>
            <th>AÇÃO</th>
        </tr>
  </thead>
  <tbody>
      <tr *ngFor="let cliente of listaClientes | filtroClienteNomePesquisa:nomePesquisado">
          <td>{{cliente.id}}</td>
          <td>{{cliente.nome}}</td>
          <td>{{cliente.livrosRetirados | extrairNome }}</td>
          <td>{{cliente.multa | moeda}}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ações
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/editClientes/{{cliente.id}}">Editar</a></li>
                <li><a class="dropdown-item" routerLink="/tabelaClientes" (click)="deletar(cliente.id)">Deletar</a></li>
              </ul>
            </div>
          </td>


        </tr>
  </tbody>


</table>



